In [1]:
from google.colab import drive
import sys
drive.mount('/content/gdrive')
sys.path.append('/content/gdrive/MyDrive/Sudoku_Solver')

Mounted at /content/gdrive

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("/content/gdrive/MyDrive/Sudoku_Solver/sudoku.csv")

In [4]:
df.head(10)

                                             quizzes                                          solutions
0  0043002090050090010700600430060020871900074000...  8643712593258497619712658434361925871986574322...
1  0401000501070039605200080000000000170009068008...  3461792581875239645296483719658324174729168358...
2  6001203840084590720000060050002640300700800069...  6951273841384596727248369158512647392739815469...
3  4972000001004000050000160986203000403009000000...  4972583161864397252537164986293815473759641828...
4  0059103080094030600275001000300002010008200070...  4659123781894735623275681497386452919548216372...
5  1000050073809000006000004808200010750407600200...  1946852373829745166572134898234916755417689237...
6  0090654300070008006001080200030900025014039608...  2897654313179248566451387297638915425214739688...
7  0000006577024001003500060005000200092103005000...  8942316577624951833518769425836247192193875646...
8  5030701900000067500471906004000380009502003000...  5634721982193867548471956234726385199512473866...
9  0607209080840030017001000659000080000710600000...  1637259485846932717291843659463581273714625898...

In [5]:
a = df["quizzes"].values[0]

In [6]:
a = np.array(list(a))
a = np.int_(a)
print(a)

[0 0 4 3 0 0 2 0 9 0 0 5 0 0 9 0 0 1 0 7 0 0 6 0 0 4 3 0 0 6 0 0 2 0 8 7 1
 9 0 0 0 7 4 0 0 0 5 0 0 8 3 0 0 0 6 0 0 0 0 0 1 0 5 0 0 3 5 0 8 6 9 0 0 4
 2 9 1 0 3 0 0]

In [7]:
a.reshape(9,9)

array([[0, 0, 4, 3, 0, 0, 2, 0, 9],
       [0, 0, 5, 0, 0, 9, 0, 0, 1],
       [0, 7, 0, 0, 6, 0, 0, 4, 3],
       [0, 0, 6, 0, 0, 2, 0, 8, 7],
       [1, 9, 0, 0, 0, 7, 4, 0, 0],
       [0, 5, 0, 0, 8, 3, 0, 0, 0],
       [6, 0, 0, 0, 0, 0, 1, 0, 5],
       [0, 0, 3, 5, 0, 8, 6, 9, 0],
       [0, 4, 2, 9, 1, 0, 3, 0, 0]])

In [8]:
b = df["solutions"].values[0]
b = np.array(list(b))
b = np.int_(b)
print(b)

[8 6 4 3 7 1 2 5 9 3 2 5 8 4 9 7 6 1 9 7 1 2 6 5 8 4 3 4 3 6 1 9 2 5 8 7 1
 9 8 6 5 7 4 3 2 2 5 7 4 8 3 9 1 6 6 8 9 7 3 4 1 2 5 7 1 3 5 2 8 6 9 4 5 4
 2 9 1 6 3 7 8]

In [9]:
b.reshape(9,9)

array([[8, 6, 4, 3, 7, 1, 2, 5, 9],
       [3, 2, 5, 8, 4, 9, 7, 6, 1],
       [9, 7, 1, 2, 6, 5, 8, 4, 3],
       [4, 3, 6, 1, 9, 2, 5, 8, 7],
       [1, 9, 8, 6, 5, 7, 4, 3, 2],
       [2, 5, 7, 4, 8, 3, 9, 1, 6],
       [6, 8, 9, 7, 3, 4, 1, 2, 5],
       [7, 1, 3, 5, 2, 8, 6, 9, 4],
       [5, 4, 2, 9, 1, 6, 3, 7, 8]])

In [10]:
print(b-a)

[8 6 0 0 7 1 0 5 0 3 2 0 8 4 0 7 6 0 9 0 1 2 0 5 8 0 0 4 3 0 1 9 0 5 0 0 0
 0 8 6 5 0 0 3 2 2 0 7 4 0 0 9 1 6 0 8 9 7 3 4 0 2 0 7 1 0 0 2 0 0 0 4 5 0
 0 0 0 6 0 7 8]